FREQTRADE__EXCHANGE__KEY=
FREQTRADE__EXCHANGE__SECRET=
FREQTRADE__API_SERVER__USERNAME=freqtrade
FREQTRADE__API_SERVER__PASSWORD=change-me-change-me
FREQTRADE__API_SERVER__JWT_SECRET_KEY=change-me-change-me-change-me-change-me
FREQTRADE__API_SERVER__WS_TOKEN=change-me-change-me-change-me-change-me
